body {
    margin: 0;
    display: grid;
    height: 100vh;
    width: 100%;

    grid-template-rows: 0.5fr 4fr;
    grid-template-columns: 1fr 15em;
    grid-template-areas: "top-bar top-bar"
                         "container side"
}

#top-bar {
    overflow: auto;
    position: relative;
    grid-area: top-bar;
    background-color: rgb(34, 32, 32);
}

#signIn {
    position: absolute;
    right: 4em;
    top: 20%;
    padding: 15px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: gray; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#signIn:hover {
    background-color: rgb(40, 110, 89);
    transform: scale(1.05);
    transition-duration: 0.2s;
}

h1 {
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-110%);
}

#container {
    padding: 1em;
    grid-area: container;
    background-image: linear-gradient(90deg, blue, aqua);
    display: grid;
}

#side {
    grid-area: side;
    background-color:rgb(59, 57, 57);
    padding-left: 1em;
}

#stats {
    font-size: 1.25em;
    position: absolute; 
}

#stats > p {
    color: white;
}

.blur {
    filter: blur(3px);
    pointer-events: none;
    cursor: default;
}

.card {
    overflow: hidden;
    line-height: 1em;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    font-size: 1.1em;
    background-image: linear-gradient(180deg, red, purple);
    height: 12em;
    width: 17em;
    border-radius: 6px;
    box-shadow: 0 0 5px black;
}

.card > p {color: rgb(218, 218, 218);}

.card > button {
    cursor: pointer;
    background-color: rgb(77, 185, 26);
    height: 1.7em;
    width: 4em;
    border-radius: 6px;
    border: 1px solid black;
    margin: 0 0.6em;
}
.card > button:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
}

/* Experiment */
.add-button {
    background-color: rgb(89, 202, 89);
    position: fixed;
    border: 1px solid black;
    width: 3em;
    height: 3em;
    border-radius: 30px;
    bottom: 1em;
    right: 20em;
    background-image: url('plus.png');
    background-size: 39px;

    animation-name: reverse-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.add-button:hover {
    animation-name: plus-animation;
    animation-duration: 0.5s;
}

@keyframes plus-animation {
    from {
        transform: rotate(0deg) scale(1);
    } 
    to {
        transform: rotate(90deg) scale(1.4);
    }
}

@keyframes reverse-animation {
    from {
        transform: rotate(90deg) scale(1.4);
    }
    to {
        transform: rotate(0deg) scale(1);
    }
}


/* form popup - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    border: none;
    z-index: 9;
}

/* Full-width input fields */
.form-container {
    height: 20em;
    width: 20em;
    padding: 1em;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
}

/* Full-width input fields */
.form-container input[type="text"], .form-container input[type="number"] {
    width: 80%;
    padding: 1em;
    margin: 0.35em 0 1.4em 0;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
}

/* do something when the inputs get focus */
.form-container input[type="text"]:focus, .form-container input[type="number"]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container > label {color: white;}

/* set a style for the submit/login button */
.form-container > button {
    background-color: #4CAF50;
    color: white;
    padding: 1em 1.25em;
    border: none;
    cursor: pointer;
    width: 45%;
    margin-bottom: .6em;
    opacity: 0.8;    
}

/* add red background to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* add some hover effect to the buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}